<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mainsection.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  >
    <title>Home</title>
</head>
<body>
    <div class="main_container">
        <!-- header part -->
   <div class="container">
          <!-- logo part  -->
 <nav class="logopart">
        <div class="image">
    <img src="/img/logo.jpeg" alt="" class="logoimage">
</div>
<div class="collegename">
    <h1 class="meerut">Meerut</h1>
    <h3>Institute of technology</h3>
</div>
    </nav>
    <div class="manubar">
    <h4>Home</h4>
    <div class="login">
    <h4 class="loginclick">Login<i class="fa-sharp fa-solid fa-caret-down"></i></h4>
    <div class="manuopt1" id="myid">
    <h4  class="opt"><a href="/compony/adminlogin">Admin Login</a></h4>
    <h4 class="opt"><a href="/student/studentlogin" >Student Login</a></h4>
</div>
    </div>
    <div class="register">
        <h4 class="regist">Regester <i class="fa-sharp fa-solid fa-caret-down"></i></h4>
        <div class="manuopt1" id="myid2">
        <h4 class="opt"><a href="/compony/adminregister">Admin Register</a></h4>
        <h4 class="opt"><a href="/student/studentregister">Student Register </a> </h4>
    </div>
        </div>
        <h4 id="content_manu"><a href="#"></a>contact</a></h4>
        <a href="#" class=" contact_manu toggle_manu" ><i class="fa-sharp fa-solid fa-bars"></i></a>
    </div>
   </div>  

   <!-- home image section -->
   <div class="maincontent">
        <img src="svgviewer-output.svg" alt=""  class="imageani">
  <div class="content">
    <h2 class="text">Welcome to  <span class="placement">Placement Cell</span></h2>
  </div>

  <p class="supporttext">we will support you in your in your entire placement journey</p>
    <a href="#" class="get_started_button" id="button">Get Started</a>
</div>
   <!-- text section -->
<div class="hero_section_text">
    <div class="text_part">
    <h1 class="text1">Placement Portal</h1>
    <span class="hero_section_content">The Placement Cell plays a crucial role in locating job
        opportunities for under graduates and post <br> graduates passing out from the college by
        keeping in touch with reputed firms and industrial <br> establishments.
         <br> The placement cell operates round the year to facilitate contacts between
         companies and graduates <br> 
         The number of students placed through the campus interviews is
        continuously rising.
    </span>
    <br> <br><br>
    <a class="get_started_button" href="#">Get Started</a>
</div>

    <img src="/logo/627635c95a472.jpg" alt="" height="300px" width="300px"
    class="image12">

</div>
   <!-- clients compony images -->
<section id="clients" class="clients">
    <div class="container_images">

        <div class="clients-slider swiper">
            <div class="swiper-wrapper clients_image_container ">
                <div class="swiper-slide"><img src="/imge/clients/client-1.svg" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/imge/clients/client-2.png" class="img-fluid" alt=""></div>
                <!-- <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div> -->
                <div class="swiper-slide"><img src="/imge/clients/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/imge/clients/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/imge/clients/client-6.png" class="img-fluid" alt=""></div>
                <!-- <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div> -->
                <div class="swiper-slide"><img src="/imge/clients/client-8.png" class="img-fluid" alt=""></div>
            </div>
        </div>

    </div>
</section>
  <!-- objectives section -->
<section class="objectives_section">
<div class="objectives">
    <h3 class="objectives_text">Objectives</h3>

    <p class="verious_objectives">
        Our Placement Portal serves various objectives:
    </p>
    <ul>
        <br>
        <li><i class="fa-solid fa-circle-check" style="color: #2e96c2;"></i> Developing the students to meet the Industries recruitment process.
        </li>
        <br>
        <li><i class="fa-solid fa-circle-check" style="color: #2e96c2;"></i> To motivate students to develop Technical knowledge and soft skills in
            terms of career planning, goal setting.
        </li>
        <br>
        <li><i class="fa-solid fa-circle-check" style="color: #2e96c2;"></i> To produce world-class professionals who have excellent analytical skills,
            communication skills, team building spirit and <br> ability to work in cross cultural
            environment.</li>
<br>
    </ul>
</div>
<div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
    <img src="/imge/features-1.svg" alt="" class="img-fluid1">
</div>
</section>
 <div class="footer">
    <p class="copyright">2023 &copy; MIT , All Rights Reserved</p>
    <div class="icons">
        <a href="#" class="icons_gap"><i class="fa-brands fa-twitter" style="color: #e7e6eb;"></i></a>
        <a href="#" class="icons_gap"><i class="fa-brands fa-linkedin" style="color: #f5f5f5;"></i></a>
        <a href="#" class="icons_gap"><i class="fa-brands fa-instagram" style="color: #ebedef;"></i></a>
    </div>
 </div>
</div>

</body>
</html>