*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.whole_code{
    overflow-x: hidden;
}
.header{
    display: flex;
    gap: 33rem;
    width: 100vw;
    height: 5rem;
    padding-top: 1.5rem;
    background-color:#21353b;
    padding-bottom: 1.5rem;
}
.placement_logo{
    margin-left: 4rem;
    color: #4992d3;
   
}
.placement_logo:hover{
    color: #5289B5;
}
.manuopt {
    display: flex;
    gap: 7rem;
    background-color: 1f3035;
}
.manuopt h3 a{
    text-decoration: none;
    color: #1b78c8;
}
.manuopt h3 a:hover{
    color:#0627fb ;
}
.manu h3:hover{
    color: #4125AA;
}
.section{
    background-color:#DBEAFE;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.input_field{
    display: flex;
    flex-direction: column;
}

.portal_heading{
    color: white;
    margin-left: 5.4rem;
    margin-bottom: 1.3rem;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    gap: 5rem;
    margin-bottom: 1.2rem;
}
.navbar{
    background-color: white;
    color: black;
    padding: 3rem 5rem;
    margin-left: 3rem;
    margin-top: 2rem;
    box-shadow: 10px 5px 5px rgb(226, 218, 218);
    margin-bottom: .5rem;
    height: 110vh;
}
.manu{
    margin-bottom: 4rem;
    font-size: 1.3rem;

}
a{
    text-decoration: none;
    color: black;
    margin-left: .2rem;
}

.welcome{
    display: flex;
    color: rgb(167, 34, 167);
}
.logout{
  font-size: 1.3rem;
  margin-top: 10rem;  
}
.statics{
    margin-top: 2rem;
    font-size: 2.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 2rem;
 width: 60%;
}
input{
    flex: 1;
    padding-left: 2rem;
     width: 100%;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-size: 1.3rem;
}

textarea{
    flex: 1;
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-top: 1.2rem;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
button{
    height: 3rem;
    width: 6rem;
    color: white;
    background-color: #18b150;
    font-size: 1.1rem;
    font-weight: 800;
    border-radius: 6px;
    border-color:  #18b150;
    margin-bottom: 2rem;
}
button:hover{
    background-color: #07d459;
    
}

footer{
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footertext{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}
#pst{
    color: rgb(9, 110, 194);
}
a:hover{
    color: rgb(13, 152, 140);
}