<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="/css/jobprovider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  >
    <title>Dashboard</title>
</head>
<body>
    <div class="whole_code">
    <div class="container">
        <div class="main_container">
            <div class="container">
                <nav class="header">
                    <h1 class="placement_logo">Placement Portal</h1>
                    <div class="manuopt">
                        <h3><a href="/">Home</a></h3>
                        <h3><a href="/jobproviderdash">Dashboard</a></h3>
                        <h3><a href="/currentdrive"> Current Drives</a></h3>
                        <h3><a href="#">Contact</a></h3>
                    </div>
                </nav>
            </div>
    </div>
    <div class="section">
    <div class="navbar">
        
        <div class="welcome manu">
            <h3>Welcome Admin</h3>
    </div>
    <h4 class="manu d" ><i class="fa-sharp fa-solid fa-gauge" id="d" ></i>
        <a href="/jobproviderdash"  class="dash">Dashboard </a></h4>
    <h4 class="manu"><i class="fa-sharp fa-solid fa-house" style="color: #4a5b78;"></i>
        <a href="/">Home </a></h4>
        <h4 class="manu"><i class="fa-sharp fa-solid fa-square-plus" style="color: #4a5b78;"></i>
            <a href="/postjob"> Post Drive</a></h4>
            <h4 class="manu"><i class="fa-solid fa-address-card" style="color: #4a5b78;"></i>
                <a href="#">Applied Student</a></h4>
                <h4 class="logout"><i class="fa-sharp fa-solid fa-right-from-bracket" style="color: #4a5b78;"></i>
                    <a href="/logout"> Logout</a></h4>

    </div>
    <div class="data">
        <h3 class="statics">Placement Cell Statics</h3>
        <div class="options">
        <div class="postedjob">
            <i class="fa-solid fa-building" style="color: #4a5b78;"></i>
            <h3>  Current Drives</h3>
            <a href="/currentdrive"><button>View</button></a>
        </div>
        <div class="postjob">
            <i class="fa-solid fa-square-plus" style="color: #4a5b78;"></i>
            <h3> Post Job </h3>
            <a href="/postjob"><button>Post</button></a>
    
        </div>
        <div class="appliedstudent">
            <i class="fa-solid fa-users" style="color: #4a5b78;"></i>
            <h3>Applied Student</h3>

            <button>View</button>
        </div>
      <div class="shortlestedstudent">
        <i class="fa-solid fa-users" style="color: #4a5b78;"></i>
        <h3>Shortlisted Student</h3>
        <button> View</button>
      </div>
    </div>
    </div>
    
</div>
<footer class="footer">
    <p> Copyright &copy; 2023 Placement Portal. All rights reserved</p>
   </footer>
</div>
</body>
</html>