<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="/css/studentdashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  > -->
    <title>Dashboard</title>
</head>
<body>
    <div class="whole_code">
    <div class="container">
        <div class="main_container">
            <div class="container">
                <nav class="header">
                    <h1 class="placement_logo">Placement Portal</h1>
                    <div class="manuopt">
                        <h3><a href="/">Home</a></h3>
                        <h3><a href="/studentdashboard">Dashboard</a></h3>
                        <h3><a href="#">Search JObs</a></h3>
                        <h3><a href="#">Contact</a></h3>
                    </div>
                </nav>
            </div>
    </div>
    <div class="section">
    <div class="navbar">
        
        <div class="welcome manu">
            <h3>Welcome User</h3>
    </div>
    <h4 class="manu"><i class="fa-sharp fa-solid fa-gauge" style="color: #4a5b78;"></i>
        <a href="/studentdashboard">Dashboard </a></h4>
    <h4 class="manu"><i class="fa-sharp fa-solid fa-house" style="color: #4a5b78;"></i>
        <a href="/">Home </a></h4>
        <h4 class="manu">
            <i class="fa-solid fa-building" style="color: #4a5b78;"></i> 
            <a href="/"> Applied Job</a></h4>
            <h4 class="manu"><i class="fa-sharp fa-solid fa-magnifying-glass" style="color: #4a5b78;"></i>
                <a href="#"> Search Jobs</a></h4>
                <h4 class="logout"><i class="fa-sharp fa-solid fa-right-from-bracket" style="color: #4a5b78;"></i>
                    <a href="#"> Logout</a></h4>

    </div>
    <div class="data">
        <h3 class="statics">Student Statics</h3>
        <div class="options">
        <div class="postedjob">
            <i class="fa-solid fa-building" style="color: #4a5b78;"></i>
            <h3> Applied Jobs</h3>
             <button>View</button>
        </div>
        <div class="serachjob">
            <i class="fa-sharp fa-solid fa-magnifying-glass" style="color: #4a5b78;"></i>
            <h3>Search Jobs</h3>
            <button>Search</button>
    
        </div>
        <div class="appliedstudent">
            <i class="fa-sharp fa-solid fa-circle-check" style="color: #4a5b78;"></i>
            <h3>Selected</h3>

            <button>View</button>
        </div>
      <div class="shortlestedstudent">
        <i class="fa-solid fa-list"></i>
        <h3>Shortlisted Compony</h3>
        <button> View</button>
      </div>
    </div>
    </div>
    
</div>
<footer class="footer">
    <p> Copyright &copy; 2023 Placement Portal. All rights reserved</p>
   </footer>
</div>
</body>
</html>